{
  "presets": [
    "stage-0",
    "es2015"
  ],
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types",
    [
      "transform-runtime", {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ],
    [
      "module-resolver", {
        "root": ["./src"],
        "alias": {
          "package.json": "./package.json"
        }
      }
    ]
  ]
}
